[user]
	email = fonorobert@gmail.com
	name = Robert Fono

[alias]
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	cm = commit -m
	a = add .
	co = checkout
	ch = checkout
	br = branch
	nbr = checkout -b
	syn= pull --ff-only
	mpr = merge --no-ff
	pall = push all --all
	pm = push origin master
